@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neighbor";
  src: url("/fonts/NeighborReg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neighbor";
  src: url("/fonts/NeighborSemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neighbor";
  src: url("/fonts/NeighborBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neighbor";
  src: url("/fonts/NeighborItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neighbor";
  src: url("/fonts/NeighborSemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Neighbor";
  src: url("/fonts/NeighborBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

:root {
  --background: #00272b;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
